@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NotoSerif";
  src: url("../../public/fonts/NotoSerif-Bold.ttf");
}
@font-face {
  font-family: "Poppins";
  font-weight: 100 700;
  src: url("../../public/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-bold";
  font-weight: 100 700;
  src: url("../../public/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "KumbhSans";
  src: url("../../public/fonts/KumbhSans-Regular.ttf");
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: "Poppins";
    font-weight: 100 700;
    src: url("../../public/fonts/Poppins-Regular.ttf");
  }

}
